# Dev Packages
/node_modules
/vendor

# Yarn
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Output files
/dist

# Other unneeded files
doc/
*.swp
*~
.project
.DS_Store
.idea
.secret
mix-manifest.json
