@font-face {
	font-family: "fx-icons";
	src: url("../fonts/fx-icons.eot?j0odph");
	src: url("../fonts/fx-icons.eot?j0odph#iefix") format("embedded-opentype"), url("../fonts/fx-icons.ttf?j0odph") format("truetype"), url("../fonts/fx-icons.woff?j0odph") format("woff"), url("../fonts/fx-icons.svg?j0odph#fx-icons") format("svg");
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

[class^="fx-"],
[class*=" fx-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: "fx-icons" !important;
	speak: never;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.fx-arrow-down:before {
	content: "\e908";
}
.fx-arrow-right:before {
	content: "\e907";
}
.fx-close:before {
	content: "\e906";
}
.fx-menu:before {
	content: "\e902";
}
.fx-moon:before {
	content: "\e904";
}
.fx-search:before {
	content: "\e901";
}
.fx-pin:before {
	content: "\e90c";
}
.fx-pin-outline:before {
	content: "\e90d";
}
.fx-heart:before {
	content: "\e905";
}
.fx-sun:before {
	content: "\e903";
}
.fx-shopping:before {
	content: "\e900";
}
.fx-github:before {
	content: "\e909";
}
.fx-dribbble:before {
	content: "\f17d";
}
.fx-behance:before {
	content: "\f1b4";
}
.fx-twitch:before {
	content: "\f1e8";
}
.fx-stack-overflow:before {
	content: "\f16c";
}
.fx-wordpress:before {
	content: "\f19a";
}
.fx-pinterest-p:before {
	content: "\f231";
}
.fx-spotify:before {
	content: "\e90a";
}
.fx-facebook:before {
	content: "\f09a";
}
.fx-instagram:before {
	content: "\e90b";
}
.fx-linkedin:before {
	content: "\f0e1";
}
.fx-twitter:before {
	content: "\f099";
}
.fx-youtube1:before {
	content: "\f16a";
}
