/*--*--*--*--*--*--*--*--*--*--*-*--*--*--*--*--*--*--*--*

	* ------- Global Style ------- *

-*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*/

// WARNING: TRY MAKING EVERYTHING GLOBAL AND MODULAR AS MUCH AS POSSIBLE!

html {
	font-size: 15px;
	height: 100%;
	scroll-behavior: smooth;
}

body {
	-webkit-font-smoothing: antialiased;
	box-sizing: border-box;
	font-feature-settings: "cv02", "cv03", "cv04", "cv11";
	font-size: 15px;
	height: 100%;
	color: #333;
	@apply bg-gray-50;
}

main {
	min-height: calc(100vh - 8.5rem);
}

figure {
	margin: 0;

	& > img {
		max-width: 100%;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: inherit;
}

h1 {
	@apply text-4xl my-4;
	line-height: normal;
	font-weight: bold;
	letter-spacing: -1px;
}

h2 {
	@apply text-3xl my-3;
	line-height: normal;
	font-weight: bold;
	letter-spacing: -1px;
}

h3 {
	@apply text-2xl my-2;
	line-height: normal;
	font-weight: normal;
	letter-spacing: -0.7px;
}

h4 {
	@apply text-xl my-1;
	line-height: normal;
	font-weight: normal;
	letter-spacing: -0.5px;
}

h5 {
	@apply text-lg;
	line-height: normal;
	font-weight: normal;
	letter-spacing: 0;
}

h6 {
	@apply text-base;
	line-height: normal;
	font-weight: normal;
	letter-spacing: 0;
}

p {
	@apply leading-7 my-4;
}

pre,
ul,
ol {
	@apply my-4;
}

img,
iframe {
	max-width: 100%;
	width: 100%;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="number"],
input[type="date"],
input[type="datetime-local"],
input[type="month"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="week"],
[multiple],
textarea,
select {
	@apply border-gray-200 border rounded text-gray-600 h-9 text-sm;
}

.btn,
input[type="submit"] {
	@apply inline-flex h-9 text-gray-600 border border-gray-200 bg-white font-medium px-6 text-sm rounded cursor-pointer;
}

.container {
	@apply mx-auto px-6;

	&--single {
		@apply px-0 sm:px-6;
	}
}

.container-full {
	@apply w-full;
}

.archive-title {
	@apply block mt-2 mb-6 md:mb-10;
}

.page-title {
	@apply text-2xl md:text-3xl tracking-tight mb-0 font-bold text-gray-800;
}

.taxonomy-description {
	@apply text-gray-500 mt-2;

	p {
		@apply mt-2;
	}
}

img.lazyload:not([src]) {
	visibility: hidden;
}
