/* =============================================================================
  Header
========================================================================== */

header#primary {
	@apply items-center flex bg-white border-b border-gray-100 relative;

	.wrap {
		@apply justify-between flex items-center h-16 lg:h-18;
	}
}

/* =============================================================================
	Primary Menu
========================================================================== */

nav.primary {
	@apply ml-auto px-8 list-none bg-white hidden lg:block lg:p-0 lg:relative text-gray-700;

	.primary-menu {
		@apply m-0;
	}

	/* =============================================================================
		Navigation Items
	========================================================================== */

	.menu-item {
		@apply py-4 inline-flex relative font-medium text-sm;

		& > a {
			@apply px-3 inline-flex w-auto hover:text-blue-700 transition-fx items-center;

			span.chevron {
				@apply ml-1 mt-0.5;
			}
		}

		&.menu-item-has-children {
			& > a {
				&:after {
					font-family: "fx-icons" !important;
					content: "\e908";
					display: flex;
					@apply mt-0.5 text-base;
				}
			}
		}

		&:hover {
			& > .sub-menu {
				@apply visible opacity-100;
			}
		}
	}

	/* =============================================================================
  	Sub Menu
	========================================================================== */

	.sub-menu {
		@apply m-0 bg-white border border-gray-200 rounded absolute w-48 top-full pl-0 -ml-2 py-2.5 invisible opacity-0 transition-all duration-200 ease-out z-50;

		.menu-item {
			@apply flex w-full relative py-2;

			& > a {
				@apply flex w-full px-5 text-sm font-medium hover:text-blue-700 transition-all duration-300 ease-out items-center;
			}

			&.menu-item-has-children {
				& > a {
					&:after {
						font-family: "fx-icons" !important;
						content: "\e907";
						display: flex;
						@apply mt-0.5 ml-auto text-base;
					}
				}
			}

			&:hover {
				& > .sub-menu {
					@apply visible opacity-100;
				}
			}
		}

		.sub-menu {
			margin-top: -11px;
			@apply top-0 left-full ml-2;
		}
	}
}
