/* =============================================================================
  Moby Mobile Menu
	v: 2.0.7
========================================================================== */

.moby-overlay {
	box-sizing: border-box;
	position: fixed;
	transform: translate3d(0, 0, 0);
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2000;
	visibility: hidden;
	opacity: 0;
	@apply transition-fx;
}

.moby-overlay.dark {
	@apply bg-gray-900 bg-opacity-70;
}

.moby-overlay.light {
	background: rgba(255, 255, 255, 0.65);
}

.moby-overlay.moby-overlay-active {
	visibility: visible !important;
	opacity: 1 !important;
}

.moby-body-fixed {
	overflow: hidden !important;
}

.moby {
	@apply transition-fx;

	box-sizing: border-box;
	background: #fff;
	overflow: auto;
}

.moby * {
	box-sizing: border-box;
}

.moby.moby-hidden {
	display: none;
}

.moby.right-side {
	position: fixed;
	z-index: 3000;
	top: 0;
	height: 100%;
	width: 30%;
	right: 0;
	min-width: 260px;
	transform: translateX(100%);
}

.moby.right-side.moby-active {
	transform: translateX(0);
}

.moby.fade {
	position: fixed;
	z-index: 3000;
	top: 0;
	height: 100%;
	left: 0;
	width: 100%;
	visibility: hidden;
	opacity: 0;
}

.moby.fade.moby-active {
	opacity: 1;
	visibility: visible;
}

.moby.fade ul {
	width: 100%;
}

.moby.left-side {
	position: fixed;
	z-index: 3000;
	top: 0;
	height: 100%;
	left: 0;
	width: 30%;
	min-width: 240px;
	transform: translateX(-100%);
}

.moby.left-side.moby-active {
	transform: translateX(0);
}

.moby ul {
	list-style: none;
	transform: translate3d(0, 0, 0);
}

.moby ul ul {
	display: none;
	@apply bg-gray-100 m-0;
}

.moby ul li ul a {
	font-weight: normal;
	@apply text-gray-500 text-[13px] font-medium pl-6 pr-20 py-3.5;
}

.moby ul li a {
	position: relative;
	text-decoration: none;
	font-weight: normal;
	display: block;
	text-align: left;
	@apply text-gray-600 text-base font-medium pl-6 pr-20 py-3;
}

.moby ul li a .moby-expand {
	position: absolute;
	width: 60px;
	top: 0;
	right: 0;
	height: 100%;
	text-align: center;
	padding: 10px;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: center;
	@apply text-gray-600;
}

.moby ul li a span.chevron {
	display: none;
}

.moby ul li a .moby-expand i,
.moby ul li a .moby-expand span {
	font-size: 20px;
}

.moby .moby-close {
	cursor: pointer;
	font-weight: 400;
	display: flex;
	flex-flow: row nowrap;
	@apply h-16 items-center px-6 text-gray-600 text-base font-medium border-b border-gray-100;
}

.moby-close {
	svg {
		@apply mr-2;
	}
}

.moby .moby-close .moby-close-icon {
	font-weight: bold;
	margin-right: 15px;
	position: relative;
	height: 20px;
	width: 20px;
	transform: rotate(45deg);
}

.moby .moby-close .moby-close-icon::before {
	content: "";
	position: absolute;
	left: 0;
	width: 100%;
	height: 2px;
	background: #9a989a;
	top: 50%;
	margin-top: -1px;
}

.moby .moby-close .moby-close-icon::after {
	content: "";
	position: absolute;
	left: 50%;
	height: 100%;
	width: 2px;
	background: #9a989a;
	top: 0%;
	margin-left: -1px;
}

.moby .sub-menu .sub-menu {
	@apply bg-gray-200;
}
