/* =============================================================================
  Posts
========================================================================== */

.post,
.type-page {
	@apply bg-white rounded  xl:grid xl:items-baseline border border-gray-100;
}

.post-heading {
	@apply px-10 pt-10 space-y-2.5;

	&.single {
		@apply px-6 sm:px-10 py-8;
	}
}

.page-heading {
	@apply px-6 sm:px-10 py-6 space-y-2.5 border-gray-100 border-b;
}

.post-title {
	word-break: break-word;

	@apply w-full mt-0 text-[1.65rem] leading-[2.2rem] font-bold tracking-tight block;

	&.single {
		@apply text-2xl lg:text-3xl lg:leading-[2.4rem];
	}
}

.post-category {
	@apply font-semibold text-xsmd;

	a {
		@apply text-blue-700 hover:text-opacity-80 transition-fx;
	}
}

.post-content {
	@apply overflow-hidden leading-[1.75rem] text-gray-600 max-w-none overflow-ellipsis line-clamp-3;

	p {
		&:first-child {
			@apply mt-0;
		}
	}

	&.single {
		@apply line-clamp-none overflow-auto break-all;
	}
}

.read-more {
	@apply text-base font-medium;
}

.post-image {
	@apply relative overflow-hidden rounded-none sm:rounded-t h-44 md:h-64 lg:h-96;

	img {
		@apply absolute transform -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2;
	}
}

.post-footer {
	@apply flex text-xsmd border-t border-gray-100 mt-10 px-10;

	&.single {
		@apply px-6 sm:px-10 mt-0 border-b;
	}
}

.post-data {
	@apply text-gray-500 font-medium py-4 inline-flex hover:text-gray-700 transition-fx;

	&:after {
		content: "/";
		@apply px-2;
	}

	&:last-child {
		&:after {
			content: none;
		}
	}

	&.post-author {
		@apply hidden lg:inline-flex;
	}
}
